.signup-child2 {
    width: 949px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .nepomart18 {
    position: relative;
    line-height: 67px;
    color: var(--color-darkslategray-100);
    flex-shrink: 0;
  }
  .enter-your-new,
  .new-password {
    position: relative;
    line-height: 40px;
    display: inline-block;
  }
  .enter-your-new {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    max-width: 100%;
  }
  .new-password {
    width: 116px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 40px;
    color: var(--color-black-100);
    text-align: left;
    padding: 0;
  }
  .password-labels-child {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-darkgray-100);
    box-sizing: border-box;
  }
  .password-labels {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xs);
  }
  .confirmation-password {
    width: 187px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 40px;
    position: relative;
    line-height: 40px;
    color: var(--color-darkblack-100);
    text-align: left;
    display: inline-block;
    padding: 0;
  }
  .password-labels-item {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-darkgray-100);
    box-sizing: border-box;
  }
  .password-labels1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xs);
  }
  .frame-child35 {
    height: 60px;
    width: 575px;
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--color-cornflowerblue-100);
    display: none;
    max-width: 100%;
  }
  .submit {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 40px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-royalblue-100);
    text-align: left;
    display: inline-block;
    min-width: 59px;
    z-index: 1;
  }
  .frame-wrapper27,
  .rectangle-parent14 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent14 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--color-cornflowerblue-100);
    flex: 1;
    border-radius: var(--br-5xs);
    justify-content: center;
  }
  .rectangle-parent14:hover {
    background-color: var(--color-royalblue-100);
  }
  .frame-wrapper27 {
    width: 619px;
    justify-content: flex-end;
    padding: 0 var(--padding-3xl);
  }
  .enter-your-new-password-parent,
  .password-labels-parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .password-labels-parent {
    margin: 0;
    align-self: stretch;
    align-items: flex-end;
    gap: var(--gap-12xl);
  }
  .enter-your-new-password-parent {
    width: 636px;
    align-items: flex-start;
    gap: var(--gap-46xl);
    flex-shrink: 0;
    font-size: var(--font-size-11xl);
  }
  .nepomart-terms4 {
    position: relative;
    line-height: 40px;
  }
  .nepomart-terms-codnitions-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
  }
  .nepomart-parent9,
  .signup-inner3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }
  .nepomart-parent9 {
    align-self: stretch;
    justify-content: flex-start;
    gap: 264.6px;
  }
  .signup-inner3 {
    width: 703px;
    justify-content: flex-end;
    padding: 0 0 var(--padding-7xl);
    box-sizing: border-box;
    min-width: 703px;
  }
  .enter-new-password,
  .signup5 {
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .signup5 {
    width: 1920px;
    border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
    border: 1px solid var(--color-gainsboro-600);
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-168xl);
    max-width: 100%;
  }
  .enter-new-password {
    width: 100%;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-107xl) var(--padding-xl) var(--padding-103xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-47xl-6);
    color: var(--color-black);
    font-family: var(--font-volkhov);
  }
  @media screen and (max-width: 1800px) {
    .signup-child2,
    .signup-inner3 {
      flex: 1;
    }
    .signup5 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1350px) {
    .signup5 {
      gap: var(--gap-74xl);
    }
  }
  @media screen and (max-width: 900px) {
    .nepomart18 {
      font-size: var(--font-size-34xl);
      line-height: 53px;
    }
    .enter-your-new {
      font-size: var(--font-size-5xl);
      line-height: 32px;
    }
    .password-labels-parent {
      gap: var(--gap-mini);
    }
    .enter-your-new-password-parent {
      gap: var(--gap-13xl);
    }
    .nepomart-parent9 {
      gap: 132px;
    }
    .signup-inner3 {
      min-width: 100%;
    }
    .signup5 {
      gap: var(--gap-28xl);
    }
  }
  @media screen and (max-width: 450px) {
    .nepomart18 {
      font-size: var(--font-size-21xl);
      line-height: 40px;
    }
    .enter-your-new {
      font-size: var(--font-size-lg);
      line-height: 24px;
    }
    .enter-your-new-password-parent {
      gap: var(--gap-base);
    }
    .nepomart-parent9 {
      gap: var(--gap-47xl);
    }
    .signup5 {
      gap: var(--gap-4xl);
    }
  }
/* .nepomart-terms4{
  font-size: 20px;
  text-align: end;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
   */