.signup-item {
  width: 949px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.nepomart16 {
  position: relative;
  line-height: 67px;
  color: var(--color-darkslategray-100);
}
.first-name3,
.forget-password2 {
  position: relative;
  line-height: 40px;
}
.forget-password2 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.first-name3 {
  width: 98px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 40px;
  letter-spacing: 0.08em;
  color: var(--color-darkgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.first-name-input-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.first-name-input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.email-address2 {
  width: 130px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 40px;
  position: relative;
  letter-spacing: 0.08em;
  line-height: 40px;
  color: var(--color-darkgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.email-field-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.email-field,
.first-name-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-field {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.first-name-field {
  flex: 1;
  gap: var(--gap-9xl);
  min-width: 211px;
  max-width: 100%;
}
.last-name3 {
  width: 97px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 40px;
  position: relative;
  letter-spacing: 0.08em;
  line-height: 40px;
  color: var(--color-darkgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.frame-child32 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.last-name-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.phone-number1 {
  width: 135px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 40px;
  position: relative;
  letter-spacing: 0.08em;
  line-height: 40px;
  color: var(--color-darkgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.frame-child33 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.first-name-field1,
.name-input-fields,
.phone-number-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone-number-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.first-name-field1,
.name-input-fields {
  max-width: 100%;
}
.first-name-field1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xl);
  min-width: 211px;
}
.name-input-fields {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lg);
}
.confirmation-code-button-child {
  height: 60px;
  width: 575px;
  position: relative;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.send-confirmation-code {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 40px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.confirmation-code-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-black);
  flex: 1;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.confirmation-code-button:hover {
  background-color: var(--color-darkslategray-200);
}
.name-fields3,
.submit-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.submit-button {
  width: 653px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.name-fields3 {
  margin: 0;
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-9xl);
}
.login1 {
  color: var(--color-cornflowerblue-100);
}
.already-have-an-container1 {
  position: relative;
  letter-spacing: 0.08em;
  line-height: 40px;
}
.login-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-21xl);
}
.forgot-password-link,
.form-fields1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.form-fields1 {
  align-self: stretch;
  gap: var(--gap-lgi);
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.forgot-password-link {
  width: 666px;
  padding: 0 0 91.7px;
  box-sizing: border-box;
  gap: 55px;
  font-size: var(--font-size-11xl);
}
.nepomart-terms2 {
  position: relative;
  line-height: 40px;
}
.terms {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.signup-form,
.signup-form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.signup-form-header {
  align-self: stretch;
  justify-content: flex-start;
  gap: 197.3px;
}
.signup-form {
  width: 703px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xl);
  box-sizing: border-box;
  min-width: 703px;
}
.forget-password1,
.signup3 {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.signup3 {
  width: 1920px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  border: 1px solid var(--color-gainsboro-600);
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-168xl);
  max-width: 100%;
}
.forget-password1 {
  width: 100%;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-107xl) var(--padding-xl) var(--padding-103xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-47xl-6);
  color: var(--color-black);
  font-family: var(--font-volkhov);
}
@media screen and (max-width: 1800px) {
  .signup-form,
  .signup-item {
    flex: 1;
  }
  .signup3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .signup3 {
    gap: var(--gap-74xl);
  }
}
@media screen and (max-width: 900px) {
  .nepomart16 {
    font-size: var(--font-size-34xl);
    line-height: 53px;
  }
  .forget-password2 {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
  .name-input-fields {
    flex-wrap: wrap;
  }
  .forgot-password-link {
    gap: var(--gap-8xl);
  }
  .signup-form-header {
    gap: 99px;
  }
  .signup-form {
    min-width: 100%;
  }
  .signup3 {
    gap: var(--gap-28xl);
  }
}
@media screen and (max-width: 450px) {
  .nepomart6 {
    font-size: var(--font-size-21xl);
    line-height: 40px;
  }
  .forget-password2 {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .forgot-password-link {
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
  .signup-form-header {
    gap: var(--gap-30xl);
  }
  .signup3 {
    gap: var(--gap-4xl);
  }
}
