.deviceLargeTabletChild {
  width: 144px;
  height: 144px;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-8xs);
  background-color: var(--main-white);
  display: none;
}
.content,
.deviceLargeTablet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.content {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xl) var(--padding-5xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.deviceLargeTablet {
  width: 100%;
  position: relative;
  background-color: var(--main-white);
  overflow: hidden;
  align-items: flex-end;
  padding: 0 0 var(--padding-21xl);
  gap: var(--gap-5xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 450px) {
  .content {
    gap: var(--gap-5xl);
  }
}
