.deviceSmallMobileChild {
  width: 136px;
  height: 136px;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-8xs);
  background-color: var(--main-white);
  display: none;
}
.ratingStars,
.ratingStars1,
.ratingStars2,
.ratingStars3 {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
}
.ratingStars {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.ratingStars1,
.ratingStars2,
.ratingStars3 {
  background-color: var(--main-third);
}
.ratingStars2,
.ratingStars3 {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.rating,
.stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.stars {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.rating {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.sliderDots,
.sliderDots1,
.sliderDots2 {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
}
.sliderDots {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.sliderDots1,
.sliderDots2 {
  background-color: var(--main-third);
}
.sliderDots2 {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.imageSlider,
.sliderDotsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sliderDotsParent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.imageSlider {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-5xs);
}
.findThingsYoull,
.onlyOnPolka,
.supportIndependentSellers {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.onlyOnPolka {
  font-size: var(--body-texts-text-6-size);
  line-height: 18px;
  color: var(--color-text-subtext);
  display: inline-block;
  min-width: 100px;
}
.callToAction,
.findThingsYoullLoveParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.findThingsYoullLoveParent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.callToAction {
  flex-direction: row;
  padding: 0 var(--padding-base);
}
.frameChild,
.frameInner,
.frameItem {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
}
.frameChild {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.frameInner,
.frameItem {
  background-color: var(--main-third);
}
.frameInner {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.ellipseParent,
.imageSlider1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ellipseParent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.imageSlider1 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-5xs);
}
.discoverUnique,
.handPickedItems {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.discoverUniqueParent,
.heroBannerInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.discoverUniqueParent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.heroBannerInner {
  flex-direction: row;
  padding: 0 var(--padding-base);
}
.ellipseDiv,
.frameChild1,
.frameChild2 {
  height: 12px;
  width: 12px;
  position: relative;
  border-radius: 50%;
}
.ellipseDiv {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.frameChild1,
.frameChild2 {
  background-color: var(--main-third);
}
.frameChild2 {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.ellipseGroup,
.imageSlider2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ellipseGroup {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.imageSlider2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-5xs);
}
.rectangleDiv {
  height: 64px;
  width: 320px;
  position: relative;
  background-color: var(--base-gray-background);
  display: none;
}
.by100Renewable,
.commerceIsPowered {
  margin: 0;
}
.commerceIsPoweredContainer {
  position: relative;
  line-height: 16px;
  z-index: 1;
}
.heroBannerChild,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  flex: 1;
  background-color: var(--base-gray-background);
  padding: var(--padding-base) 71px var(--padding-base) var(--padding-53xl);
}
.heroBannerChild {
  align-self: stretch;
  padding: 0 0 var(--padding-10xs);
  text-align: center;
  font-size: var(--body-texts-text-1-size);
  color: var(--main-thick-black);
}
.commerceInc {
  position: relative;
  line-height: 24px;
}
.commerceIncWrapper,
.deviceSmallMobile,
.heroBanner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.commerceIncWrapper {
  flex-direction: row;
  padding: 0 79px;
  font-size: var(--body-texts-text-6-size);
}
.deviceSmallMobile,
.heroBanner {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.heroBanner {
  align-self: stretch;
  text-align: left;
  font-size: var(--heading-title-text-2-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
.deviceSmallMobile {
  width: 100%;
  position: relative;
  background-color: var(--main-white);
  overflow: hidden;
  padding: 0 0 var(--padding-13xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
