.unsplashmoIfFkckIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.clothingShoes {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  z-index: 1;
}
.bannerLeft,
.bannerTopLeft,
.unsplashmoIfFkckParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.unsplashmoIfFkckParent {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-125xl) var(--padding-base) var(--padding-base);
  position: relative;
}
.bannerLeft,
.bannerTopLeft {
  flex-direction: column;
}
.bannerTopLeft {
  align-self: stretch;
  gap: var(--gap-20xl);
}
.bannerLeft {
  flex: 1;
  gap: var(--gap-29xl);
  min-width: 174px;
}
.unsplashgdruy7quengIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.homeLiving {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.unsplashgdruy7quengParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-125xl) var(--padding-base) var(--padding-base);
  position: relative;
}
.frameChild {
  width: 268px;
  height: 374px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-bisque);
  display: none;
}
.ellipseDiv,
.frameChild1,
.frameChild2,
.frameInner,
.frameItem {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-yellowgreen);
}
.ellipseDiv,
.frameChild1,
.frameChild2,
.frameInner {
  background-color: var(--color-royalblue);
}
.ellipseDiv,
.frameChild1,
.frameChild2 {
  background-color: var(--color-crimson);
}
.frameChild1,
.frameChild2 {
  background-color: var(--color-blueviolet);
}
.frameChild2 {
  background-color: var(--color-sandybrown);
}
.ellipseParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 1;
}
.div,
.woodLampFloor {
  position: relative;
  z-index: 1;
}
.woodLampFloor {
  align-self: stretch;
  line-height: 24px;
}
.div {
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
  white-space: nowrap;
}
.frameGroup,
.woodLampFloorLampLambadeParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.woodLampFloorLampLambadeParent {
  align-self: stretch;
  gap: var(--gap-base);
}
.frameGroup {
  width: 220px;
  gap: var(--gap-5xl);
  font-size: var(--body-texts-text-6-size);
}
.frameParent,
.rectangleParent {
  align-self: stretch;
  flex-direction: column;
}
.rectangleParent {
  border-radius: var(--br-8xs);
  background-color: var(--color-bisque);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl)
    var(--padding-5xl);
  font-size: var(--body-texts-text-1-size);
  color: var(--color-text-text);
}
.frameParent {
  gap: var(--gap-20xl);
}
.bannerGrid,
.bannerLeft1,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bannerLeft1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl);
  min-width: 174px;
}
.bannerGrid {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.findThingsYoull,
.onlyOnPolka {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.onlyOnPolka {
  font-size: var(--body-texts-text-6-size);
  line-height: 18px;
  color: var(--color-text-subtext);
  display: inline-block;
  min-width: 100px;
}
.bannerContent,
.findThingsYoullLoveSuppoParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.findThingsYoullLoveSuppoParent {
  gap: var(--gap-5xs);
  color: var(--color-text-text);
}
.bannerContent {
  flex: 1;
  gap: var(--gap-29xl);
}
.unsplashq4livi9nn6yIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.artCollectibles {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  z-index: 1;
}
.unsplashq4livi9nn6yParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-125xl) var(--padding-base) var(--padding-base);
  position: relative;
}
.rectangleDiv {
  width: 268px;
  height: 374px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-plum-100);
  display: none;
}
.frameChild3,
.frameChild4,
.frameChild5 {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.frameChild4,
.frameChild5 {
  background-color: var(--color-crimson);
}
.frameChild5 {
  background-color: var(--color-blueviolet);
}
.ellipseGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 1;
}
.nockeby3SeatSofa {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.productPrice {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
  z-index: 1;
}
.frameContainer,
.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.productInfo {
  align-self: stretch;
  gap: var(--gap-base);
}
.frameContainer {
  width: 220px;
  gap: var(--gap-5xl);
}
.categoryGrid,
.rectangleGroup {
  align-self: stretch;
  flex-direction: column;
}
.rectangleGroup {
  border-radius: var(--br-8xs);
  background-color: var(--color-plum-100);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl)
    var(--padding-5xl);
  font-size: var(--body-texts-text-6-size);
  color: var(--color-text-text);
}
.categoryGrid {
  gap: var(--gap-20xl);
}
.banner,
.categories,
.categoryGrid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories {
  width: 268px;
  flex-direction: column;
  gap: var(--gap-29xl);
  min-width: 268px;
}
.banner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-title-text-2-size);
  color: var(--main-white);
  font-family: var(--body-texts-text-1);
}
@media screen and (max-width: 825px) {
  .categories {
    flex: 1;
  }
  .banner {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 675px) {
  .bannerGrid {
    flex-wrap: wrap;
  }
  .bannerContent {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .bannerTopLeft {
    gap: var(--gap-lgi);
  }
  .bannerLeft {
    gap: var(--gap-5xl);
  }
  .frameParent {
    gap: var(--gap-lgi);
  }
  .bannerLeft1 {
    gap: var(--gap-5xl);
  }
  .bannerContent {
    min-width: 100%;
  }
  .categoryGrid {
    gap: var(--gap-lgi);
  }
  .categories {
    gap: var(--gap-5xl);
  }
}
