.categories,
.categoryGrid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.categoryGrid {
  flex: 1;
  gap: var(--gap-base);
}
.categories {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
