.leftExpandIcon {
  height: 48px;
  width: 48px;
  position: absolute;
  margin: 0 !important;
  top: 121px;
  left: 0;
}
.gifts,
.wedding {
  margin: 0;
}
.weddingGifts {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
}
.weddings {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-44xl);
}
.featuredProducts,
.frameParent,
.weddings {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  min-width: 192px;
}
.featuredProducts {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 0 var(--padding-77xl);
  position: relative;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--heading-title-text-2-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
@media screen and (max-width: 1200px) {
  .featuredProducts {
    padding-left: var(--padding-29xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .featuredProducts {
    padding-left: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: var(--gap-5xl);
  }
}
