.frameChild,
.frameItem {
  position: absolute;
  border-radius: var(--br-8xs);
}
.frameChild {
  top: 0;
  left: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background-color: var(--main-white);
  width: 100%;
  height: 100%;
}
.frameItem {
  width: calc(100% - 16px);
  top: 8px;
  right: 8px;
  left: 8px;
  max-width: 100%;
  overflow: hidden;
  height: 128px;
  object-fit: cover;
  z-index: 1;
}
.rectangleParent {
  height: 144px;
  width: 144px;
  position: relative;
  flex-shrink: 0;
}
.featuredGridInner {
  width: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.wallDecor {
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.featured,
.featuredGrid,
.wallDecorWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wallDecorWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-15xl);
}
.featured,
.featuredGrid {
  gap: var(--gap-5xl);
}
.featuredGrid {
  width: 144px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 var(--padding-15xl) 0 0;
  box-sizing: border-box;
}
.featured {
  width: 876px;
  overflow-x: auto;
  flex-direction: row;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-texts-text-6-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
