.featuredProduct,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  gap: var(--gap-base);
}
.featuredProduct {
  align-self: stretch;
  padding: 0 0 0 var(--padding-base);
  text-align: left;
  font-size: var(--body-texts-text-1-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
