.frameChild {
  width: 288px;
  height: 260px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-slateblue);
  display: none;
}
.sendMeExclusive,
.yes {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.yes {
  line-height: 20px;
  display: inline-block;
  min-width: 34px;
}
.sendMeExclusive {
  align-self: stretch;
  font-size: var(--body-texts-text-1-size);
  line-height: 16px;
}
.emailSignup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.emailFieldChild {
  height: 48px;
  width: 256px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--main-white);
  display: none;
}
.dropYourEmail {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.emailField,
.frameItem {
  border-radius: var(--br-31xl);
}
.emailField {
  align-self: stretch;
  background-color: var(--main-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  white-space: nowrap;
  z-index: 1;
}
.frameItem {
  height: 32px;
  width: 256px;
  position: relative;
  background-color: var(--main-third);
  display: none;
}
.subscribe {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.arrowRightIcon {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
  z-index: 1;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--main-third);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-5xs)
    var(--padding-2xl);
  gap: var(--gap-5xs);
  z-index: 1;
  color: var(--main-white);
}
.emailInput {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  font-size: var(--body-texts-text-1-size);
  color: var(--color-text-subtext);
}
.emailInput,
.footer,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-slateblue);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-base);
  gap: var(--gap-5xl);
}
.footer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  text-align: left;
  font-size: var(--heading-title-text-2-size);
  color: var(--main-white);
  font-family: var(--body-texts-text-1);
}
