.sustainabilityChild {
  height: 48px;
  width: 900px;
  position: relative;
  background-color: var(--base-gray-background);
  display: none;
  max-width: 100%;
}
.commerceIsPowered {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.logoIcon,
.sustainability {
  align-self: stretch;
  max-width: 100%;
}
.sustainability {
  background-color: var(--base-gray-background);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-xs)
    var(--padding-2xl);
  box-sizing: border-box;
}
.logoIcon {
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.cricklewood,
.londonNw26qg {
  margin: 0;
}
.cricklewoodLondonNw2Container {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.facebookIcon,
.twitterIcon {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
}
.facebookParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.dribbbleIcon,
.linkedinIcon {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
}
.frameContainer,
.linkedinParent,
.logoParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameContainer,
.logoParent {
  flex-direction: column;
}
.logoParent {
  flex: 1;
  gap: var(--gap-base);
}
.shop {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 42px;
}
.giftCards,
.login,
.polkaBlog,
.signIn,
.siteMap {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 68px;
}
.login,
.polkaBlog,
.signIn,
.siteMap {
  min-width: 63px;
}
.login,
.polkaBlog,
.signIn {
  min-width: 73px;
}
.login,
.signIn {
  min-width: 37px;
}
.signIn {
  min-width: 47px;
}
.frameGroup,
.giftCardsParent,
.shopParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.giftCardsParent {
  gap: var(--gap-xs);
  font-size: var(--body-texts-text-6-size);
  color: var(--color-text-paragraph);
}
.frameGroup,
.shopParent {
  gap: var(--gap-5xl);
  font-size: var(--heading-title-text-2-size);
}
.frameGroup {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
  gap: var(--gap-29xl);
  font-size: var(--body-texts-text-6-size);
}
.about {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
}
.careers,
.investors,
.policies,
.polkaInc,
.press {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 68px;
}
.careers,
.investors,
.policies,
.press {
  min-width: 52px;
}
.careers,
.investors,
.press {
  min-width: 63px;
}
.careers,
.press {
  min-width: 56px;
}
.press {
  min-width: 37px;
}
.aboutParent,
.polkaIncParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.polkaIncParent {
  gap: var(--gap-xs);
  font-size: var(--body-texts-text-6-size);
  color: var(--color-text-paragraph);
}
.aboutParent {
  padding: 0 var(--padding-lgi) 0 0;
  gap: var(--gap-5xl);
}
.sell {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 28px;
}
.affiliates,
.forums,
.sellOnPolka,
.teams {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 87px;
}
.affiliates,
.forums,
.teams {
  min-width: 48px;
}
.affiliates,
.forums {
  min-width: 52px;
}
.affiliates {
  min-width: 60px;
}
.sellOnPolkaParent,
.sellParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sellOnPolkaParent {
  gap: var(--gap-xs);
  font-size: var(--body-texts-text-6-size);
  color: var(--color-text-paragraph);
}
.sellParent {
  gap: var(--gap-5xl);
}
.help {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 37px;
}
.helpCenter,
.privacySettings,
.trustAndSafety {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 83px;
}
.privacySettings,
.trustAndSafety {
  min-width: 113px;
}
.privacySettings {
  min-width: 110px;
}
.helpCenterParent,
.helpParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.helpCenterParent {
  gap: var(--gap-xs);
  font-size: var(--body-texts-text-6-size);
  color: var(--color-text-paragraph);
}
.helpParent {
  gap: var(--gap-5xl);
}
.footerNavigation,
.footerTop,
.frameParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footerNavigation,
.footerTop {
  justify-content: flex-start;
}
.footerNavigation {
  width: 881px;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--heading-title-text-2-size);
  color: var(--color-text-text);
}
.footerTop {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.commerceInc {
  position: relative;
  line-height: 24px;
}
.privacyPolicy {
  min-width: 96px;
}
.cookies,
.privacyPolicy,
.termsOfUse {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.termsOfUse {
  color: var(--main-third);
  min-width: 90px;
}
.cookies {
  min-width: 56px;
}
.privacyPolicyParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-198xl) 0 0;
  box-sizing: border-box;
  min-width: 242px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.scrollToTop {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 72px;
}
.arrowTopIcon {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.scrollToTopParent {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.commerceIncParent,
.footer,
.footerInner,
.frameWrapper,
.scrollToTopParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  font-size: var(--body-texts-text-1-size);
}
.commerceIncParent,
.footer,
.footerInner {
  max-width: 100%;
}
.commerceIncParent {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-lg);
}
.footer,
.footerInner {
  align-self: stretch;
}
.footerInner {
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  color: var(--color-text-text);
}
.footer {
  flex-direction: column;
  gap: var(--gap-37xl);
  text-align: left;
  font-size: var(--body-texts-text-6-size);
  color: var(--main-thick-black);
  font-family: var(--body-texts-text-1);
}
@media screen and (max-width: 675px) {
  .frameParent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .privacyPolicyParent {
    flex-wrap: wrap;
    padding-right: var(--padding-89xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameGroup {
    gap: var(--gap-5xl);
  }
  .footerTop {
    gap: var(--gap-xl);
  }
  .privacyPolicyParent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    gap: var(--gap-9xl);
  }
}
