.frameChild {
  width: 288px;
  height: 283px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--base-gray-background);
  display: none;
}
.unsplashbu8texhspcyIcon {
  height: 127px;
  width: 127px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.communityImage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) 0 var(--padding-5xl);
}
.aCommunity,
.doingGood {
  margin: 0;
}
.aCommunityDoingContainer {
  width: 99px;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.communityHeading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-19xl) 0 var(--padding-20xl);
}
.commerceIsA {
  align-self: stretch;
  position: relative;
  font-size: var(--body-texts-text-1-size);
  line-height: 16px;
  color: var(--color-text-paragraph);
  z-index: 1;
}
.communityHeadingParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.heroBannerInner,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--base-gray-background);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-37xl);
  gap: var(--gap-5xl);
}
.heroBannerInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  text-align: center;
  font-size: var(--body-texts-text-6-size);
  color: var(--main-middle-black);
  font-family: var(--body-texts-text-1);
}
