.discoverUniqueHandPicked,
.viewAll {
  position: relative;
  display: inline-block;
}
.discoverUniqueHandPicked {
  line-height: 26px;
  font-weight: 500;
  max-width: 100%;
}
.viewAll {
  line-height: 24px;
  min-width: 54px;
}
.arrowRightIcon {
  width: 16px;
  height: 16px;
  position: relative;
}
.arrowRightWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.viewAllLabel {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.uniqueItemsHeader,
.viewAllButton,
.viewAllLabel {
  display: flex;
  align-items: flex-start;
}
.viewAllButton {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  font-size: var(--body-texts-text-6-size);
  color: var(--main-third);
}
.uniqueItemsHeader {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frameChild,
.frameItem {
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
}
.frameChild {
  width: 195px;
  height: 290px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: var(--main-white);
}
.frameItem {
  height: 184px;
  width: 179px;
  object-fit: cover;
}
.frameInner {
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 2;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-125xl);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.highTopCanvas,
.priceOne {
  position: relative;
  z-index: 1;
}
.highTopCanvas {
  align-self: stretch;
  line-height: 16px;
}
.priceOne {
  font-size: var(--body-texts-text-6-size);
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
  white-space: nowrap;
}
.highTopCanvasShoesParent,
.rectangleParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.highTopCanvasShoesParent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.rectangleParent {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-8xs);
  background-color: var(--main-white);
  align-items: flex-end;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.productCardsOne {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  grid-template-columns: repeat(4, minmax(146px, 1fr));
  font-size: var(--body-texts-text-1-size);
}
.farmhouse,
.modern {
  margin: 0;
}
.modernFarmhouse {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.decorCategoryNames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-45xl) 0 0;
}
.eclecticDecorDots {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.eclecticDecorDots1,
.eclecticDecorDots2,
.eclecticDecorDots3 {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--main-third);
}
.eclecticDecorDots2,
.eclecticDecorDots3 {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.eclecticDecorIndicators {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.decor,
.eclectic {
  margin: 0;
}
.eclecticDecor {
  width: 66px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.eclecticDecorIndicatorsParent,
.eclecticDecorLabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.eclecticDecorLabel {
  flex-direction: row;
  padding: 0 var(--padding-sm);
}
.eclecticDecorIndicatorsParent {
  flex-direction: column;
  gap: var(--gap-29xl);
}
.decor1,
.polkaBoho {
  margin: 0;
}
.polkaBohoDecorContainer {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.decorCategoryNames1 {
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-45xl) 0 0;
  box-sizing: border-box;
}
.decorCategoryLabels,
.decorCategoryLabelsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.decorCategoryLabels {
  width: 677px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decorCategoryLabelsWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.minimalistGiftsDots,
.minimalistGiftsDots1,
.minimalistGiftsDots2 {
  height: 1px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--base-border);
  min-width: 201px;
}
.minimalistGiftsIndicators {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-base);
  gap: var(--gap-5xl);
}
.minimalist,
.style {
  margin: 0;
}
.minimalistStyle {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: var(--main-third);
}
.anniversary,
.gift {
  margin: 0;
}
.anniversaryGift {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.anniversaryGiftLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.gifts,
.wedding {
  margin: 0;
}
.weddingGifts {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.giftCategoryLabels,
.giftCategoryLabelsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.giftCategoryLabels {
  width: 663px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.giftCategoryLabelsWrapper {
  align-self: stretch;
  justify-content: flex-end;
}
.minimalistGiftsLabelChild {
  width: 268px;
  height: 1px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--main-third);
}
.minimalistGiftsLabel {
  width: 755px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.groupIcon {
  height: 374px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 201px;
}
.imagePlaceholder,
.rectangleDiv {
  position: relative;
  border-radius: var(--br-8xs);
}
.imagePlaceholder {
  align-self: stretch;
  height: 1px;
  background-color: var(--base-border);
}
.rectangleDiv {
  width: 268px;
  height: 374px;
  background-color: var(--color-bisque);
  display: none;
}
.iphoneNameIcon {
  position: absolute;
  top: 24px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 188px;
  height: 188px;
  object-fit: contain;
  z-index: 1;
}
.iphoneTitleChild {
  position: absolute;
  top: 0;
  left: 180px;
  width: 32px;
  height: 32px;
  z-index: 2;
}
.iphoneTitle {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 16px;
  width: 212px;
}
.colors {
  position: absolute;
  top: 184px;
  left: 0;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 39px;
  z-index: 2;
}
.iphoneDescription {
  align-self: stretch;
  height: 212px;
  position: relative;
}
.pickerDotOne,
.pickerDotThree,
.pickerDotTwo {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-yellowgreen);
}
.pickerDotThree,
.pickerDotTwo {
  background-color: var(--color-cadetblue);
}
.pickerDotThree {
  background-color: var(--color-mediumseagreen);
}
.pickerDotFive,
.pickerDotFour,
.pickerDotSeven,
.pickerDotSix {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.pickerDotFive,
.pickerDotSeven,
.pickerDotSix {
  background-color: var(--color-crimson);
}
.pickerDotSeven,
.pickerDotSix {
  background-color: var(--color-blueviolet);
}
.pickerDotSeven {
  background-color: var(--color-sandybrown);
}
.colorPicker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 1;
}
.rovenaRivaSeries {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.sofaPrice {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 52px;
  white-space: nowrap;
  z-index: 1;
}
.sofaDetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iphoneButtons {
  width: 220px;
  gap: var(--gap-5xl);
  font-size: var(--body-texts-text-6-size);
}
.iphoneButtons,
.iphoneImage,
.rectangleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleContainer {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-bisque);
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl)
    var(--padding-5xl);
}
.iphoneImage {
  flex: 1;
  gap: var(--gap-29xl);
  min-width: 201px;
}
.frameChild1,
.iphoneImageChild {
  position: relative;
  border-radius: var(--br-8xs);
}
.iphoneImageChild {
  align-self: stretch;
  height: 1px;
  background-color: var(--base-border);
}
.frameChild1 {
  width: 268px;
  height: 374px;
  background-color: var(--color-plum-100);
  display: none;
}
.dotFive,
.dotFour,
.dotOne,
.dotThree,
.dotTwo {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-yellowgreen);
}
.dotFive,
.dotFour,
.dotThree,
.dotTwo {
  background-color: var(--color-royalblue);
}
.dotFive,
.dotFour,
.dotThree {
  background-color: var(--color-crimson);
}
.dotFive,
.dotFour {
  background-color: var(--color-blueviolet);
}
.dotFive {
  background-color: var(--color-sandybrown);
}
.dotsContainer,
.dotsContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.dotsContainer {
  gap: var(--gap-5xs);
  z-index: 1;
}
.dotsContainerWrapper {
  padding: 0 0 var(--padding-5xl);
}
.iphone12128 {
  width: 220px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  z-index: 1;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
  z-index: 1;
}
.groupDiv {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-plum-100);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-21xl);
}
.frameParent,
.groupDiv,
.iphoneImage1 {
  display: flex;
  justify-content: flex-start;
}
.iphoneImage1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-29xl);
  min-width: 201px;
  font-size: var(--body-texts-text-6-size);
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--body-texts-text-1-size);
}
.decorCategories,
.minimalistGiftsIndicatorsParent,
.uniqueItemsHeaderParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.decorCategories,
.uniqueItemsHeaderParent {
  align-items: flex-end;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--heading-title-text-2-size);
}
.uniqueItemsHeaderParent {
  align-items: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--heading-title-text-3-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
@media screen and (max-width: 675px) {
  .uniqueItemsHeader {
    flex-wrap: wrap;
  }
  .productCardsOne {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(146px, 253px));
  }
}
@media screen and (max-width: 450px) {
  .productCardsOne {
    grid-template-columns: minmax(146px, 1fr);
  }
  .decorCategoryLabels,
  .giftCategoryLabels {
    flex-wrap: wrap;
  }
  .iphoneImage {
    gap: var(--gap-5xl);
  }
  .groupDiv {
    gap: var(--gap-xl);
  }
  .iphoneImage1 {
    gap: var(--gap-5xl);
  }
  .decorCategories {
    gap: var(--gap-base);
  }
  .uniqueItemsHeaderParent {
    gap: var(--gap-xl);
  }
}
