.frameChild,
.frameItem {
  border-radius: var(--br-8xs);
}
.frameChild {
  width: 268px;
  height: 374px;
  position: relative;
  background-color: var(--color-honeydew);
  display: none;
}
.frameItem {
  position: absolute;
  top: 24px;
  left: 0;
  width: 188px;
  height: 188px;
  object-fit: contain;
  z-index: 1;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 180px;
  width: 32px;
  height: 32px;
  z-index: 2;
}
.rectangleGroup {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 16px;
  width: 212px;
}
.colors {
  position: absolute;
  top: 184px;
  left: 0;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 39px;
  z-index: 2;
}
.frameParent {
  align-self: stretch;
  height: 212px;
  position: relative;
}
.ellipseDiv,
.frameChild1 {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-yellowgreen);
}
.frameChild1 {
  background-color: var(--color-cadetblue);
}
.frameChild2,
.frameChild3,
.frameChild4,
.frameChild5,
.frameChild6 {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen);
}
.frameChild3,
.frameChild4,
.frameChild5,
.frameChild6 {
  background-color: var(--color-royalblue);
}
.frameChild4,
.frameChild5,
.frameChild6 {
  background-color: var(--color-crimson);
}
.frameChild5,
.frameChild6 {
  background-color: var(--color-blueviolet);
}
.frameChild6 {
  background-color: var(--color-sandybrown);
}
.ellipseParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipseParent {
  gap: var(--gap-5xs);
  z-index: 1;
}
.frameWrapper {
  padding: 0 0 var(--padding-5xl);
}
.div,
.vonnaNevaWalnut {
  position: relative;
  z-index: 1;
}
.vonnaNevaWalnut {
  align-self: stretch;
  line-height: 24px;
}
.div {
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 52px;
  white-space: nowrap;
}
.rectangleParent,
.vonnaNevaWalnutSandalyeChaParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vonnaNevaWalnutSandalyeChaParent {
  width: 220px;
  gap: var(--gap-base);
  font-size: var(--body-texts-text-6-size);
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-honeydew);
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl)
    var(--padding-5xl);
  text-align: left;
  font-size: var(--body-texts-text-1-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
