.frameChild {
  width: 268px;
  height: 282px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--base-gray-background);
  display: none;
}
.unsplashbu8texhspcyIcon {
  height: 126px;
  width: 126px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.unsplashbu8texhspcyWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl);
}
.aCommunity,
.doingGood {
  margin: 0;
}
.aCommunityDoingContainer {
  width: 113px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.productSlogan {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl) 0 var(--padding-13xl);
}
.commerceIsA {
  align-self: stretch;
  position: relative;
  font-size: var(--body-texts-text-1-size);
  line-height: 16px;
  color: var(--color-text-paragraph);
  z-index: 1;
}
.productSloganParent,
.rectangleParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.rectangleParent {
  border-radius: var(--br-8xs);
  background-color: var(--base-gray-background);
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-27xl);
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--heading-title-text-2-size);
  color: var(--main-middle-black);
  font-family: var(--body-texts-text-1);
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
