.highlightRightImageChild,
.imageRightWrapperChild {
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
}
.imageRightWrapperChild {
  width: 200px;
  height: 290px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: var(--main-white);
}
.highlightRightImageChild {
  height: 184px;
  width: 184px;
  object-fit: cover;
}
.highlightRightImageItem {
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 2;
}
.highlightRightImage {
  align-self: stretch;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-125xl);
  background-image: url(/public/rectangle-57@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.blueTopazBangle {
  flex: 1;
  position: relative;
  line-height: 16px;
  z-index: 1;
}
.highlightRightTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-11xs);
}
.emptyStateRight {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
  z-index: 1;
}
.emptyProductRight,
.imageRightWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.emptyProductRight {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  font-size: var(--body-texts-text-6-size);
}
.imageRightWrapper {
  flex: 1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-8xs);
  background-color: var(--main-white);
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.rightExpandIcon {
  width: 48px;
  height: 48px;
  position: relative;
}
.carouselRight,
.highlightRightContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.carouselRight {
  flex-direction: column;
  padding: var(--padding-102xl) 0 0;
}
.highlightRightContent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--body-texts-text-1-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
@media screen and (max-width: 450px) {
  .highlightRightContent {
    gap: var(--gap-5xl);
  }
}
