.frameChild {
  height: 48px;
  width: 288px;
  position: relative;
  border-radius: var(--br-181xl);
  background-color: var(--base-gray-background);
  display: none;
}
.shop {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
  z-index: 1;
}
.linkItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.expandDownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.footerLinksInner,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent {
  flex: 1;
  border-radius: var(--br-181xl);
  background-color: var(--base-gray-background);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xl);
}
.footerLinksInner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.frameItem {
  height: 48px;
  width: 288px;
  position: relative;
  border-radius: var(--br-181xl);
  background-color: var(--main-third);
  display: none;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 43px;
  z-index: 1;
}
.aboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.expandDownIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.footerLinksChild,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleGroup {
  flex: 1;
  border-radius: var(--br-181xl);
  background-color: var(--main-third);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xl);
}
.footerLinksChild {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  color: var(--main-white);
}
.polkaInc {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 68px;
}
.companyInfo {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--base-border);
}
.policies {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 52px;
}
.companyInfo1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--base-border);
}
.investors {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 63px;
}
.companyLinks {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-5xl);
  gap: var(--gap-xs);
}
.socialInfo {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--base-border);
}
.careers {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 56px;
}
.socialInfo1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--base-border);
}
.press {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 37px;
}
.socialLinks {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs) var(--padding-5xl);
  gap: var(--gap-xs);
}
.frameInner {
  height: 48px;
  width: 288px;
  position: relative;
  border-radius: var(--br-181xl);
  background-color: var(--base-gray-background);
  display: none;
}
.sell {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 25px;
  z-index: 1;
}
.sellWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.expandDownIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.frameDiv,
.rectangleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleContainer {
  flex: 1;
  border-radius: var(--br-181xl);
  background-color: var(--base-gray-background);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xl);
}
.frameDiv {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.rectangleDiv {
  height: 48px;
  width: 288px;
  position: relative;
  border-radius: var(--br-181xl);
  background-color: var(--base-gray-background);
  display: none;
}
.help {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 32px;
  z-index: 1;
}
.helpWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.expandDownIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.footerLinksInner1,
.rectangleParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent1 {
  flex: 1;
  border-radius: var(--br-181xl);
  background-color: var(--base-gray-background);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xl);
}
.footerLinksInner1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.socialIconsChild {
  height: 48px;
  width: 288px;
  position: relative;
  border-radius: var(--br-181xl);
  background-color: var(--base-gray-background);
  display: none;
}
.dribbbleIcon,
.facebookIcon,
.linkedinIcon,
.twitterIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.socialIcons {
  align-self: stretch;
  border-radius: var(--br-181xl);
  background-color: var(--base-gray-background);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-53xl);
  gap: var(--gap-base);
}
.footerLinks,
.lowerFooter,
.socialIcons {
  display: flex;
  justify-content: flex-start;
}
.footerLinks {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xs);
}
.lowerFooter {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-base) var(--padding-5xs);
  text-align: left;
  font-size: var(--body-texts-text-6-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
