.frameChild,
.frameItem {
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
}
.frameChild {
  width: 195px;
  height: 290px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: var(--main-white);
}
.frameItem {
  height: 184px;
  width: 179px;
  object-fit: cover;
}
.frameInner {
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 2;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-125xl);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.highTopCanvas,
.priceTwo {
  position: relative;
  z-index: 1;
}
.highTopCanvas {
  align-self: stretch;
  line-height: 16px;
}
.priceTwo {
  font-size: var(--body-texts-text-6-size);
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
  white-space: nowrap;
}
.highTopCanvasShoesParent,
.rectangleParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.highTopCanvasShoesParent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.rectangleParent {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-8xs);
  background-color: var(--main-white);
  align-items: flex-end;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.featuredProducts {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  grid-template-columns: repeat(4, minmax(146px, 1fr));
}
.ratingDots,
.ratingDots1,
.ratingDots2,
.ratingDots3 {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 50%;
}
.ratingDots {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.ratingDots1,
.ratingDots2,
.ratingDots3 {
  background-color: var(--main-third);
}
.ratingDots2,
.ratingDots3 {
  background-color: var(--base-gray-background);
  border: 0 solid var(--base-border);
  box-sizing: border-box;
}
.ratingIndicators {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.newsletterSignup,
.ratingIndicatorsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.newsletterSignup {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--body-texts-text-1-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
@media screen and (max-width: 675px) {
  .featuredProducts {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(146px, 253px));
  }
}
@media screen and (max-width: 450px) {
  .featuredProducts {
    grid-template-columns: minmax(146px, 1fr);
  }
  .newsletterSignup {
    gap: var(--gap-xl);
  }
}
