.highlightContentChild,
.imageWrapperChild {
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
}
.highlightContentChild {
  width: 200px;
  height: 290px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: var(--main-white);
}
.imageWrapperChild {
  height: 184px;
  width: 184px;
  object-fit: cover;
}
.imageWrapperItem {
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 2;
}
.imageWrapper {
  align-self: stretch;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-125xl);
  background-image: url(/public/rectangle-53@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.highTopCanvas {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  z-index: 1;
}
.emptyProduct {
  position: relative;
  font-size: var(--body-texts-text-6-size);
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
  white-space: nowrap;
  z-index: 1;
}
.highlightContent,
.highlightDetails,
.highlightTitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.highlightTitle {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.highlightContent,
.highlightDetails {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 var(--padding-11xs);
}
.highlightContent {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-8xs);
  background-color: var(--main-white);
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.minimalist,
.style {
  margin: 0;
}
.minimalistStyle {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.categoryName {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-39xl);
}
.categoryBackground {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--main-third);
}
.highlightCategory,
.productHighlight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.highlightCategory {
  align-self: stretch;
  gap: var(--gap-3xl);
  text-align: center;
  font-size: var(--heading-title-text-2-size);
  color: var(--main-third);
}
.productHighlight {
  width: 200px;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--body-texts-text-1-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
