.frameChild,
.frameItem {
  position: relative;
  border-radius: var(--br-8xs);
}
.frameChild {
  height: 144px;
  width: 144px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background-color: var(--main-white);
  display: none;
}
.frameItem {
  height: 128px;
  width: 128px;
  object-fit: cover;
  z-index: 1;
}
.rectangleParent {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-8xs);
  background-color: var(--main-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.rightExpandIcon {
  width: 48px;
  height: 48px;
  position: relative;
}
.frameParent,
.rightExpandWrapper {
  display: flex;
  align-items: flex-start;
}
.rightExpandWrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-29xl) 0 0;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lifeStyle {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
}
.lifestyleCategory,
.rightNavigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lifestyleCategory {
  flex-direction: row;
  padding: 0 var(--padding-23xl);
}
.rightNavigation {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 156px;
  text-align: left;
  font-size: var(--body-texts-text-6-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
