.frameChild,
.sliderContentChild {
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
}
.sliderContentChild {
  width: 200px;
  height: 290px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: var(--main-white);
}
.frameChild {
  height: 184px;
  width: 184px;
  object-fit: cover;
}
.frameItem {
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 2;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-125xl);
  background-image: url(/public/rectangle-53@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.highTopCanvas {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  z-index: 1;
}
.emptySlideTitle {
  position: relative;
  font-size: var(--body-texts-text-6-size);
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
  white-space: nowrap;
  z-index: 1;
}
.highTopCanvasShoesParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.highTopCanvasShoesParent,
.sliderContent,
.sliderContentInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sliderContentInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 var(--padding-11xs);
}
.sliderContent {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-8xs);
  background-color: var(--main-white);
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--body-texts-text-1-size);
  color: var(--color-text-text);
  font-family: var(--body-texts-text-1);
}
